html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.15;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.business-card {
    display: flex;
    border-radius: 30px;
    width: 1127px;
    height: 595px;
    background-color: #444444;
}

.business-card__main-info {
    padding: 16px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 38px;
}

.main-info__employee {
    text-align: center;
}

.employee__photo {
    border-radius: 50%;
    height: 180px;
    box-shadow: 10px 10px grey;
}

.employee__socials-link {
    text-decoration: none;
}

.employee__socials-item {
    border-radius: 50%;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.employee__name {
    margin-top: 30px;
    font-size: 38px;
}

.employee__position {
    margin-top: 8px;
    font-size: 20px;
}

.employee__download-CV {
    margin-top: 57px;
    padding: 10px 29px;
    background: transparent;
    color: inherit;
    border-radius: 38px;
    font-size: 17px;
    border: 3px solid #FFFFFF;
}

.main-info__copyright {
    position: absolute;
    bottom: 30px;
    font-size: 14px;
}

.business-card__details {
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    background-color: #222222;
}

.additional-info {
    font-size: 22px;
}

.details__employee-name {
    font-size: 62px;
}